body {
    margin: 0px;
    background-color: #191b22;
    overflow-x: hidden;
}

body {
    margin: 0px;
    background-color: #191b22;
    overflow-x: hidden;
}

a {
    color: rgba(255, 255, 255, 0.612);
    font-weight: 600;
}

a:hover {
    color: white;
    transition: 0.2s;
}

header {
    width: 100%;
    height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
}

.grid {
    width: 1024px;
    margin: 0 auto;
}

.nav {
    display: block;
}

ul {
    display: flex;
    height: 100%;
}

li {
    list-style-type: none;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;
    margin: 0 10px;
}

li:hover {
    border-bottom: 2px solid #ee0512;
}

.login_user {
    border-radius: 20px;
    width: 140px;
    height: 38px;
    margin-right: 10px;
    padding-left: 10px;
    color: rgba(255, 255, 255, 0.612);
    background-color: #2f323b;
    border-color: #2f323b;
    border-style: none;
}

.login-password {
    border-radius: 20px;
    width: 140px;
    height: 38px;
    padding-left: 10px;
    background-color: #2f323b;
    border-style: none;
}

.login-button {
    border-radius: 20px;
    width: 110px;
    height: 38px;
    margin-left: 10px;
    font-weight: 600;
    background-color: #00a83c;
    border-style: none;
    color: white;
}

.login-button:hover {
    background-color: #00a83bbc;
    cursor: pointer;
}

.login-button:active {
    transform: scale(0.98);
}

.registration {
    border-radius: 20px;
    width: 170px;
    height: 38px;
    margin-left: 10px;
    padding-left: 15px;
    background-color: #ee0512;
    border-style: none;
    color: white;
    font-weight: 600;
    background-image: url("./assets/outline_permp.png");
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 8px;
}

.registration:hover {
    background-color: rgba(255, 22, 69, 0.798);
    cursor: pointer;
}

.registration:active {
    transform: scale(0.98);
}

.swiper-slide {
    position: relative;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-100%);
    cursor: pointer;
}

.arrow.arrow-next {
    right: 30px;
}

.arrow.arrow-prev {
    left: 30px;
}

.banners-warpper {
    display: flex;
    justify-content: space-between;
}

.banners-warpper .baner {
    cursor: pointer;
}

.slider {
    margin-top: 50px;
    width: 100%;
    position: relative;
    color: white;
}

.slider .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slider .header .icon-title-description-wrapper {
    display: flex;
    align-items: center;
}

.slider .header .icon-title-description-wrapper .icon-wrapper {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    border: 2px solid #f70628;
    margin-right: 10px;
}

.slider .header .icon-title-description-wrapper .title-description-wrapper .description {
    color: #64676d;
}

.slider .header .buttons-wrapper {
    display: flex;
}

.slider .header .buttons-wrapper .control {
    display: flex;
    margin-left: 18px;
}

.slider .header .buttons-wrapper .button {
    min-width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2e3139;
    border-radius: 4px;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.5);
}

.slider .header .buttons-wrapper .button.control-left {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
}

.slider .header .buttons-wrapper .button.control-right {
    margin-left: 1px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    cursor: pointer;
}

.slider .content {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.slider .content .element {
    margin: 0 20px;
}

.slider .content .element:first-child {
    margin-left: 0;
}

.slider .content .element:last-child {
    margin-right: 0;
}

.slider .content .element img {
    width: 100%;
    height: 100%;
}

.live {
    width: 280px;
    height: 300px;
    padding: 15px;
    border-radius: 5px;
    background-color: #21242b;
    color: rgba(255, 255, 255, 0.65);
    display: flex;
    justify-content: space-between;
}

.live_now:hover {
    background-image: url(./assets/style.css.png);
    background-repeat: no-repeat;
    background-position-y: 30px;
    background-size: 100px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.882);
}

.streams:hover {
    background-image: url(./assets/style.css.png);
    background-repeat: no-repeat;
    background-position-y: 30px;
    background-size: 100px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.861);
}

.live_soccer {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: #00a83c;
    position: absolute;
    padding-top: 5px;
    text-align: center;
    margin-top: 50px;
    margin-left: 15px;
    cursor: pointer;
}

.live_Tennis {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: #00a83c;
    position: absolute;
    padding-top: 5px;
    text-align: center;
    margin-top: 50px;
    margin-left: 135px;
    cursor: pointer;
}

.live_reports {
    width: 250px;
    height: 65px;
    background-color: #2b2e37;
    position: absolute;
    margin-top: 100px;
}

.live_reports_1 {
    width: 250px;
    height: 65px;
    background-color: #2b2e37;
    position: absolute;
    margin-top: 200px;
}

.roulette {
    width: 585px;
    height: 340px;
    background-color: #2f323b;
    display: flex;
}

.roulett-logo {
    margin-top: 50px;
    width: 114px;
    height: 27px;
}

.turnaments {
    width: 585px;
    height: 310px;
    background-color: #21242b;
    color: white;
    padding: 20px;
}

.turnaments-guranted {
    width: 530px;
    height: 35px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.301);
    margin-top: 40px;
    margin-bottom: 35px;
    padding: 8px;
    color: #00a83c;
}

.about-cover {
    position: absolute;
    color: white;
    margin-left: 60px;
}

footer {
    margin-top: 50px;
    width: 100%;
    height: 300px;
    background-color: #21242b;
    display: flex;
    justify-content: space-evenly;
    color: rgba(255, 255, 255, 0.745);
    font-family: bpg_nino_mtavruli_bold;
    padding: 20px;
}

.information {
    background-image: url(./assets/style.css.png);
    background-repeat: no-repeat;
    background-position-y: 20px;
    background-size: 40%;
}

.information-contents {
    margin: 30px 0px 0px 5px;
    font-size: small;
    color: #909195;
}

.information-contents:hover {
    cursor: pointer;
    color: rgba(255, 255, 255, 0.856);
}

.branches {
    background-image: url(./assets/style.css.png);
    background-repeat: no-repeat;
    background-position-y: 20px;
    background-size: 30%;
}

.cashout {
    background-image: url(./assets/style.css.png);
    background-repeat: no-repeat;
    background-position-y: 20px;
    background-size: 40%;
}

.personal-information {
    background-image: url(./assets/style.css.png);
    background-repeat: no-repeat;
    background-position-y: 20px;
    background-size: 40%;
}

.conntact {
    background-image: url(./assets/style.css.png);
    background-repeat: no-repeat;
    background-position-y: 20px;
    background-size: 80%;
}

.pay {
    width: 100%;
    height: 80px;
    background-color: #1d2027;
    padding-top: 20px;
    border-style: solid;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-color: #000702a6;
}

.pay-logo {
    margin-left: 180px;
}

.pay-logo-2 {
    margin-right: 200px;
}

.permision {
    background-color: #1d2027;
    color: rgba(255, 255, 255, 0.169);
    display: flex;
    justify-content: space-evenly;
    padding: 25px;
}